body {
    background-color: var(--primary-bg);
}

h1 {
    color: white;
    display: inline;
    padding-left: 20px;
}

h2 {
    color: white;
    padding: 10px 30px;
}

h3 {
    color: #fff;
}

p {
    color: white;
    font-size: 26px;
    max-width: 700px;
}

.section {
    background-image: url('/img/body/originalfoto.jpeg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-movie-name {
    margin: 200px 50px 50px;
    max-width: 500px;
}

.button {
    padding: 10px 20px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border-width: 0ch;
    margin: 5px;
}

.button span {
    position: relative;
    top: -7px;
}

.button-info {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.button-play {
    background-color: #fff;
}

.progress-bar {
    display: flex;
    align-items: flex-start;
    background-color: lightslategray;
    height: 3px;
    width: 175px;
    margin-left: 20%;
    top: 168px;
}

.progress {
    background-color: red;
    height: 3px;
    width: 40px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.most-viewed-img-size {
    max-width: 250px;
    object-fit: scale-down;
}

a:active {
    color: #000;

}

a {
    text-decoration: none;
    color: #000;
}

.card img:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.main-actors-list {
    .title {
        text-align: center;
        padding-bottom: 10px;
    }

    h3 {
        padding-top: 8px;
        color: white;
    }


    .sub-actor-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

        .actor-card {
            background: var(--netflix-color-bg);
            padding: 2px;
            margin: 5px;
            width: 240px;
            height: 280px;
            text-align: center;

            .profile-photo {
                max-width: 240px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .list-movie-card {
            background: var(--netflix-color-bg);
            padding: 3px;
            margin: 5px;
            width: 240px;
            height: 450px;
            text-align: center;

            .movie-poster {
                max-width: 240px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .deleteMovie {
                background-color: transparent;
                // border-color: black  ;
                border: 3px solid black;

                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 8px 2px 5px;
                cursor: pointer;
            }
            .searchMovie{
                color: white;
                text-align: center;
                font-size: 20px;
                position: relative;
                top: 10px;

            }
            .undefinedImg{
                position: relative;
                top: 130px;
            }
        }
    }
}


Link {
    text-decoration: none;
}

.actor-main {

    .actor-wrapper {
        padding: 3%;
        margin: auto;

        .actor-column {
            border-color: var(--netflix-color-bg);
            border-style: groove;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding: 3%;
        }

        .actor-img-section {
            background: var(--netflix-color-bg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 300px;
            min-width: 160px;
            flex: 30%;

            .social-media-logo {

                padding: 5%;

                img {
                    margin: 5%;
                    width: 15%;
                }

            }

            .personal-information {
                margin: 5%;
                padding: 5%;

                .personal-information-element {
                    margin: 5%;

                    .title-h3 {
                        color: white;
                        display: block;
                        font-size: 20px;
                        font-style: italic, bold;
                        margin: 1%;
                    }

                    .information-element-span {
                        color: white;
                        display: block;
                        font-size: 15px;
                    }

                }
            }

            .actor-img {
                img {
                    width: 100%;
                    max-width: 300px;
                    height: auto;
                    object-fit: cover;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .actor-info-section {
            color: white;
            flex: 70%;
            min-width: 160px;
            max-width: 1500px;

            .actor-name {
                margin: 5%;
                font-size: 30px;
            }

            .actor-biography {
                margin: 5%;
                font-size: 20px;
            }

            .actor-known-job {
                text-align: center;
                font-size: 25px;
                margin: auto;
                max-width: 800px;
            }
        }
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// alertContainer
.alert {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .blockDisplayNone {
    display: none;
  }
  .blockDisplayBlock {
    display: block;
  }

//Search Bar
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid rgba(229, 9, 20);
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: black;
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .wrap{
    width: 50%;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }

// dropdown
ul{
    list-style: none;
  }

  .dropdown-menu{
    position: absolute;
    top: 65px;
    right: 10px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    width: 200px;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 11px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    z-index: 20;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
    z-index: 20;
  }
  
  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-menu ul li:hover a{
    color: var(--netflix-color-bg);
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }
  
  //404
  #main404{
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
    margin: 0%;
}

.container404{
    display: table-cell;
    vertical-align: middle;
    
    h1{
        color: var(--netflix-color-bg);
        font-family: 'Lato', sans-serif;
        display: inline-block;
        font-size: 50px;
        padding-right: 12px;
        animation: type .5s alternate infinite;
        font-style: italic;
    }

    h2 {
        color: var(--netflix-color-bg);
        font-family: 'Lato', sans-serif;
        font-size: 30px;
    }
}



@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}