body {
    background-color: black;

}

h1 {
    color: white;
    display: inline;
    padding-left: 20px;
}

h2 {
    color: white;
    padding: 10px 30px;
}

h3 {
    color: #fff;
}

p {
    color: white;
    font-size: 26px;
    max-width: 700px;
}

.section {
    background-image: url('/img/body/originalfoto.jpeg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-movie-name {
    margin: 200px 50px 50px;
    max-width: 500px;
}

.button {
    padding: 10px 20px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border-width: 0ch;
    margin: 5px;
}

.button span {
    position: relative;
    top: -7px;
}

.button-info {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.button-play {
    background-color: #fff;
}

.progress-bar {
    display: flex;
    align-items: flex-start;
    background-color: lightslategray;
    height: 3px;
    width: 175px;
    margin-left: 20%;
    top: 168px;
}

.progress {
    background-color: red;
    height: 3px;
    width: 40px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.most-viewed-img-size {
    max-width: 250px;
    object-fit: scale-down;
}

// .img-original-movie-size{
//     max-width: 450px;
//     object-fit:cover;
// }

// .most-viewed-span-size{
//     font-size: 200px;
//     color:#000;
//     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//     -webkit-text-stroke: 8px gray;
// }

a:active {
    color: #000;

}

a {
    text-decoration: none;
    color: #000;
}

.card img:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.main-actors-list {
    .title {
        text-align: center;
        padding-bottom: 10px;
    }

    h3 {
        padding-top: 8px;
        color: white;
    }


    .sub-actor-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

        .actor-card {
            background-color: rgba(229, 9, 20, 0.7);
            padding: 2px;
            margin: 5px;
            width: 240px;
            height: 280px;
            text-align: center;

            .profile-photo {
                max-width: 240px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .list-movie-card {
            background-color: rgba(229, 9, 20, 0.7);
            padding: 3px;
            margin: 5px;
            width: 240px;
            height: 450px;
            text-align: center;

            .movie-poster {
                max-width: 240px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .deleteMovie {
                background-color: transparent;
                // border-color: black  ;
                border: 3px solid black;

                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 8px 2px 5px;
                cursor: pointer;
            }
        }
    }
}

Link {
    text-decoration: none;
}

.actor-main {

    .actor-wrapper {
        padding: 3%;
        margin: auto;

        .actor-column {
            border-color: rgba(229, 9, 20, 0.7);
            border-style: groove;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding: 3%;
        }

        .actor-img-section {
            background-color: rgba(229, 9, 20, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 300px;
            min-width: 160px;
            flex: 30%;

            .social-media-logo {

                padding: 5%;

                img {
                    margin: 5%;
                    width: 15%;
                }

            }

            .personal-information {
                margin: 5%;
                padding: 5%;

                .personal-information-element {
                    margin: 5%;

                    .title-h3 {
                        color: white;
                        display: block;
                        font-size: 20px;
                        font-style: italic, bold;
                        margin: 1%;
                    }

                    .information-element-span {
                        color: white;
                        display: block;
                        font-size: 15px;
                    }

                }
            }

            .actor-img {
                img {
                    width: 100%;
                    max-width: 300px;
                    height: auto;
                    object-fit: cover;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .actor-info-section {
            color: white;
            flex: 70%;
            min-width: 160px;
            max-width: 1500px;

            .actor-name {
                margin: 5%;
                font-size: 30px;
            }

            .actor-biography {
                margin: 5%;
                font-size: 20px;
            }

            .actor-known-job {
                text-align: center;
                font-size: 25px;
                margin: auto;
                max-width: 800px;
            }
        }
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// alertContainer
.alert {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .blockDisplayNone {
    display: none;
  }
  .blockDisplayBlock {
    display: block;
  }