:root {
    --primary-bg: #000000;
    --secondary-bg: #fff;
    --gray: #b3b3b3;
    --netflix-color-bg:rgba(229, 9, 20, 0.7);
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }