@import "./reset";
@import "./body";
@import "./header";
@import "./footer";
@import "./font";
@import "./variables";

@media screen and (max-width: 2300px) {
    .card7{
        display: none;
    }
}

@media screen and (max-width: 2000px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card-img-size{
        width: 290px;
    }
    #navbar-display{
        display: none;
    }
    .arrow{
        width: 20px;
    }
}

@media screen and (max-width: 765px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card2{
        display: none;
    }
    .card-img-size{
        width: 200px;
    }
    #navbar-display{
        display: none;
    }
    .img-movie-name{
        width: 300px;
    }
    .img-original-movie-size{
        width: 200px;
    }
    .link-group{
        display: flex;
        flex-wrap: wrap;
    }
    .card .progress-bar{
        display: none;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 14px;
    }
    .content p {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card2{
        display: none;
    }
    .card-img-size{
        width: 180px;
    }
    #navbar-display{
        display: none;
    }
    #header-right-display{
        display: none;
    }
    .img-movie-name{
        width: 250px;
    }
    .img-original-movie-size{
        width: 180px;
    }
    .link-group{
        display: flex;
        flex-wrap: wrap;
    }
    .card .progress-bar{
        display: none;
    }
    .arrow {
        width: 30px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
    .content p {
        font-size: 20px;
    }
    .card .most-viewed-img-size{
        width: 100px;
        position: relative;
        left: -30px;
    }
    .card .most-viewed-span-size{
        font-size: 190px;
    }
}

@media screen and (max-width: 300px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card2{
        display: none;
    }
    .card-img-size{
        width: 150px;
    }
    #navbar-display{
        display: none;
    }
    #header-right-display{
        display: none;
    }
    .img-movie-name{
        width: 180px;
    }
    .img-original-movie-size{
        width: 150px;
    }
    .link-group{
        display: flex;
        flex-wrap: wrap;
    }
    .arrow {
        width: 10px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 10px;
    }
    .content p {
        font-size: 15px;
    }
    .media-logo img {
        width: 20px;
    }
    .card .progress-bar{
        display: none;
    }
    .card .most-viewed-img-size{
        width: 80px;
        position: relative;
        left: -20px;
    }
    .card .most-viewed-span-size{
        font-size: 150px;
    }
}

.style-distance{
    padding: 0px 50px 20px;
}


.paragraf {
    color: red;
}